### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [41]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [42]:
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [43]:
student_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75

In [44]:
#total number of schools
total_schools = len(school_data_complete.school_name.unique())
#total number of students
total_students = school_data_complete.student_name.count()
#total budget
total_budget = sum(school_data_complete.budget.unique())
#average math score
average_math_score = school_data_complete.math_score.mean()
# average reading score
average_reading_score = school_data_complete.reading_score.mean()

In [45]:
#total number of students
total_students = school_data_complete.student_name.count()
total_students

39170

In [46]:
#percentage of students with a passing math score (70 or greater)
percent_passing_math = (school_data_complete[( school_data_complete["math_score"] >=70)].count()["student_name"]) / total_students *100
percent_passing_math

74.9808526933878

In [47]:
# percentage of students with a passing reading score (70 or greater)
percent_passing_reading = (school_data_complete[(school_data_complete["reading_score"] >=70)].count()["student_name"]) / total_students *100
percent_passing_reading

85.80546336482001

In [48]:
#percentage of students who passed math and reading (% Overall Passing)
percent_overall_passing = (percent_passing_math + percent_passing_reading) / 2

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [49]:
#DataFrame
schools_summary = pd.DataFrame({"Total Schools": [total_schools], 
                                   "Total Students":[total_students], 
                                   "Total Budget":[total_budget], 
                                   "Average Math": [average_math_score], 
                                   "Average Reading": [average_reading_score], 
                                   "% Passing Math": [percent_passing_math], 
                                   "% Passing Reading": [percent_passing_reading], 
                                   "% Overall Passing": [percent_overall_passing]})
print(schools_summary)

   Total Schools  Total Students  Total Budget  Average Math  Average Reading  \
0             15           39170      24649428     78.985371         81.87784

   % Passing Math  % Passing Reading  % Overall Passing
0       74.980853          85.805463          80.393158

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [68]:
schools_summary = school_data_complete.groupby(['school_name'])
school_names = school_data_complete.school_name.sort_values().unique()
school_type = school_data_complete.sort_values(by = "school_name").type
#student_name = school_data_complete.student_name.groupby(["student_name"])
school_total_students = list(schools_summary, total_students).count()
school_budget = list(schools_summary.budget.mean())
#school_per_student_budget = (school_budget, school_total_students)
school_avg_math = list(schools_summary.math_score.mean())
school_avg_reading = list(schools_summary.reading_score.mean())

TypeError: list expected at most 1 argument, got 2

In [70]:
schools_summary= school_data_complete[school_data_complete["math_score"] >=70].groupby(["school_name"])
#school_pct_passing_math = (school_summary.math_score.count(), school_total_students)
schools_summary= school_data_complete[school_data_complete["reading_score"] >=70].groupby(["school_name"])
#school_pct_passing_reading = (school_summary.reading_score.count(), school_total_students)
#schools_overall_passing = [(school_pct_passing_math, school_pct_passing_reading)]

In [71]:
#DataFrame
schools_summary_df = pd.DataFrame({'School Names': school_names,
                                  'School Type': school_type,
                                  'Total Students' : school_total_students,
                                  'Total School Budget': school_budget,
                                  'Per Student Budget': school_per_student_budget,
                                 'Average Math Score': school_avg_math,
                                 'Average Reading Score': school_avg_reading,
                                 '% Passing Math': school_pct_passing_math,
                                 '% Passing Reading': school_pct_passing_reading,
                                 'Overall Passing': schools_overall_passing})
schools_summary_df = school_summary_df.reset_index(drop=true)
school_summary_df

NameError: name 'school_total_students' is not defined

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [72]:
top_5 = school_summary_df.sort_values(by= 'Overall Passing', ascending=False).head(5).reset_index(drop=True)
top_5

NameError: name 'school_summary_df' is not defined

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [ ]:
bottom_5 = school_summary_df.sort_values(by= 'Overall Passing', ascending=True).head(5).reset_index(drop=True)
bottom_5

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
#Average math by grade

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type